<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mx-auto" [routerLink]="'/start'">
        <img src="/assets/images/metro.png" class="d-inline-block align-top" width="40" height="40" alt=" ">
        &nbsp; Movilizer CDMX
    </a>
</nav>

<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <a [routerLink]="'/start'">
                <i class="fas fa-subway fa-5x" style="color:#FF8D00"></i>

            </a>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <a [routerLink]="'/twitter'">
                <i class="fas fa-exclamation-triangle fa-5x" style="color:#FFCC00"></i>
            </a>

        </div>
    </div>

</div>
<hr>

<router-outlet></router-outlet>