<div class="container my-4">
    <div class="card">
        <div class="card-header"><h5>{{linea.nombre}}</h5></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let estacion of linea.stations">
                    <h4>{{estacion.name}}</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" [ngStyle]="{width: estacion.crowd+'%'}">%</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>